body,html {
 overflow-x:hidden; 
background-color:#369;
margin:0 auto;

}

.main {
background-image:url(../images/cooking.jpg);
 height:100%; 
background-position:center;
background-repeat:no-repeat;
background-size:cover;
color:#FFF;
}

.caption {
padding:25% 0 10% 0;
width:100%;
text-align:center;
font-family:"Courier New", Courier, monospace;
font-size:60px;
}

.hamburger {
width:35px;
height:5px;
background-color:#FFF;
margin-bottom:6px;
}

.hamburg-container {
position:absolute;
margin-left:95%;
padding-top:10px;
overflow:hidden;
}

.about-section {
background-color:#f0f0f5;
height:100%;
padding-bottom:100px;
}

#about-title {
width:100%;
text-align:center;
font-size:55px;
line-height:1px;
margin-bottom:20px;
color:#369;
padding:80px 0 0;
}

.article {
width:100%;
display:inline-flex;
margin:100px 0 0 20%;
}

 .article p {
padding-bottom:30px;

} 

#about-title2 {
margin-left:43%;
font-size:25px;
color:#369;
}

#title2:after {
content:"___";
width:260px;
background-color:#369;
display:block;
margin-top:4px;
font-size:1px;
margin-left:41.5%;
}

#article-headline::after {
font-size:2px;
content:"___";
width:33px;
background-color:#369;
display:block;
margin-top:4px;
}

.article-left {
width:30%;
margin:75px 0 0 0;


}

.article-right {
width:30%;
font-family:Arial, Helvetica, sans-serif;
}

#article-quote:after {
font-size:2px;
content:"___";
width:33px;
background-color:#369;
display:block;
margin-top:20px;
}

.lowerSection {
height:100%;
background-color:#ffc;
width:60%;
margin:80px 0 100px 18%;
}
.lowerSection-container{
	height:100%;

}
.row {
width:100%;
display:inline-flex;
}

.lowerLeft {
font-size:40px;
width:50%;
text-align:center;
height:100%;
margin-top:15%;
color:#369;
}

.lowerRight2 {
font-size:40px;
width:50%;
text-align:center;
height:100%;
color:#369;
margin-top:15%;
}

#cookIcon {
margin:5px 0 0 48%;
}

#article-headline,#article-quote {
font-size:30px;
color:#369;
}

.lowerRight,.lowerLeft2 {
width:50%;
}
footer
{
height:25%;
width:100%;
background-color:#f0f0f5;
margin:0 auto;
padding-bottom: 12px;
display: inline-flex;
font-size: 17px

}
.hours
{
	margin-left:10%;
	text-align: left;
}
.contact-info
{
	margin-left: 20%;
	text-align: center;
}
.copyright
{
	margin-left:23%;
	text-align: center;
	line-height: 100px;

}
